.vibrate-3 {
  animation: vibrate-3 0.5s linear infinite both;
}
@keyframes vibrate-3 {
  0% {
    transform: translate(0);
  }
  10% {
    transform: translate(-2px, -2px);
  }
  20% {
    transform: translate(2px, -2px);
  }
  30% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(2px, 2px);
  }
  50% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, -2px);
  }
  70% {
    transform: translate(-2px, 2px);
  }
  80% {
    transform: translate(-2px, -2px);
  }
  90% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "STARWARS", sans-serif;
  font-size: 24px;
}

h2 {
  color: #000000;
  text-shadow: #A68500 2px 2px 0, #A68500 -2px -2px 0, #A68500 -2px 2px 0, #A68500 2px -2px 0;
  letter-spacing: 5px;
  font-size: 2rem;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

header {
  background: #000000;
  color: #FFFFFF;
  min-height: 22rem;
  background-image: url(assets/img/stars.png);
}

nav {
  margin-right: 2rem;
  padding-top: 2rem;
}

.menu li {
  list-style: none;
}

.menu li a {
  color: #FFFFFF;
  text-decoration: none;
  transition: background 0.2s linear;
  padding: 1rem;
}

.menu li:nth-child(odd) a:hover {
  border: 2px linear #FFFFFF;
  box-shadow: 0px 0px 15px #2FE249;
  transition: 0.3s;
  border-radius: 5px;
}

.menu li:nth-child(even) a:hover {
  border: 2px linear #FFFFFF;
  box-shadow: 0px 0px 15px red;
  transition: 0.3s;
  border-radius: 5px;
}

.menu {
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
}

#checkbox-menu,
.toggle {
  display: none;
}

.header_h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 3rem;
  font-size: 2rem;
  overflow: hidden;
  height: 0;
}

.header_text {
  color: #000000;
  text-shadow: #A68500 2px 2px 0, #A68500 -2px -2px 0, #A68500 -2px 2px 0, #A68500 2px -2px 0;
  letter-spacing: 5px;
}

.about {
  background: #000000;
  background-image: url(assets/img/stars.png);
}

.wrapper {
  padding: 2rem;
}

.about_h2 {
  display: flex;
  justify-content: flex-start;
  color: #FFFFFF;
  margin-left: 1rem;
}

.about_img {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
}

.img_1 {
  width: 55%;
  display: none;
}

.img_2 {
  width: 55%;
  display: none;
}

.curry {
  display: block;
}

.about_text {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  width: 50%;
  color: #FFFFFF;
  position: relative;
}

.about_container {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.container_img {
  width: 50%;
}

.container_input {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

#imgselector {
  display: none;
}

[for=imgselector] {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: #ddd linear-gradient(#ccc, #fff);
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.15), 0 2px 5px rgba(200, 200, 200, 0.1);
  cursor: pointer;
}

[for=imgselector]:after {
  content: "";
  position: absolute;
  left: 40%;
  top: 40%;
  width: 20%;
  height: 20%;
  border-radius: 100%;
  background: #969696 radial-gradient(40% 35%, #ccc, #969696 60%);
  box-shadow: inset 0 2px 4px 1px rgba(0, 0, 0, 0.3), 0 1px 0 white, inset 0 1px 0 white;
}

[for=imgselector]:before {
  content: "";
  position: absolute;
  top: 8%;
  right: 8%;
  bottom: 8%;
  left: 8%;
  border-radius: 100%;
  background: #eaeaea;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -5px 5px rgba(100, 100, 100, 0.1), inset 0 5px 5px rgba(255, 255, 255, 0.3);
}

#imgselector:checked ~ [for=imgselector]:before {
  background: #e5e5e5 linear-gradient(#dedede, #fdfdfd);
}

#imgselector:checked ~ [for=imgselector]:after {
  background: #2FE249 radial-gradient(40% 35%, #5aef5a, #2FE249 60%);
  box-shadow: inset 0 3px 5px 1px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 10px 2px rgba(47, 223, 73, 0.5);
}

.skills {
  background: #000000;
  background-image: url(assets/img/stars.png);
}

.skills_h2 {
  display: flex;
  justify-content: flex-start;
  color: #FFFFFF;
  margin-left: 1rem;
}

.skills_container {
  margin-top: 2rem;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills_container p {
  margin-top: 2rem;
}

.skills_container p:first-child {
  margin-top: 0;
}


.portfolio {
  background: #000000;
  background-image: url(assets/img/stars.png);
}

.portfolio_box {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  perspective: 800px;
}

.box_card {
  margin-top: 2rem;
  min-height: 300px;
  border-radius: 10px;
  width: 432px;
  transform: rotateZ(-30deg);
}

.img_photo {
  width: 100%;
}

.box_card:nth-child(odd):hover {
  cursor: pointer;
  border: 2px linear #FFFFFF;
  box-shadow: 0px 0px 15px #F774F8;
  transition: 0.3s;
  border-radius: 10px;
}

.box_card:nth-child(even):hover {
  cursor: pointer;
  border: 2px linear #FFFFFF;
  box-shadow: 0px 0px 15px #2FE249;
  transition: 0.3s;
  border-radius: 10px;
}

.card_text {
  color: #FFFFFF;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.contacts {
  background: #000000;
  background-image: url(assets/img/stars.png);
}

.contacts_text {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts_text p {
  margin-top: 2rem;
  color: #FFFFFF;
  font-size: 1.5rem;
}

.contacts_text p a {
  color: #FFFFFF;
}

.contacts_text p:hover {
  -webkit-transform: scale(1.2,1.2);
  -ms-transform: scale(1.2,1.2);
  transform: scale(1.2,1.2);
  transition: 1s;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 16px;
  }

  header {
    min-height: 17rem;
  }

  nav {
    padding-top: 0;
    margin-right: 0;
  }

  .toggle {
    clear: both;
    display: inline-block;
    text-align: center;
    font-size: 1.125rem;
    line-height: 40px;
    width: 100%;
    color: #000000;
    background: #2fe249;
    background: linear-gradient(180deg, #2fe249 0%, white 50%, #2fe249 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2fe249",endColorstr="#2fe249",GradientType=1);
    transition: all 0.1s linear;
    height: 2rem;
  }

  #checkbox-menu:checked + label .touch li {
    font-size: 1.5rem;
    opacity: 1;
    visibility: visible;
    transition: all 0.7s linear;
  }

  #checkbox-menu:checked + label .touch {
    height: 250px;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 0;
    transition: height 0.3s linear;
  }

  .menu li {
    display: flex;
    align-self: center;
    width: 95%;
    opacity: 0;
    visibility: hidden;
  }

  .menu li a {
    width: 95%;
    text-align: center;
    align-self: center;
    align-content: center;
  }

  [for=imgselector] {
    width: 70px;
    height: 70px;
  }

  .portfolio_box {
    justify-content: center;
  }

  .contacts_text p {
    font-size: 1.5rem;
  }

  .contacts_text p:hover {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }

  header {
    min-height: 17rem;
  }

  .toggle {
    line-height: 25px;
  }

  [for=imgselector] {
    width: 50px;
    height: 50px;
  }

  .about_container {
    display: flex;
    flex-direction: column;
  }

  .container_img {
    width: 100%;
  }

  .about_text {
    width: 100%;
    margin-top: 2rem;
    text-align: center;
  }

  .box_card {
    min-height: 200px;
  }

  .contacts_text p {
    font-size: 1rem;
  }

  .contacts_text p:hover {
    font-size: 1.3rem;
  }
}
